<?xml version="1.0" encoding="UTF-8"?>
<suite name="Functional Suite">
	
	<parameter name="baseURL" value="http://162.243.104.134/urls/onboard" />	
	<listeners>
		<listener class-name="com.gl.smoke.utilities.TestListener" />
		<listener class-name="com.gl.smoke.utilities.ExtentReporterNG" />
	</listeners>	

	<test name="Mozile Firefox">
		<parameter name="browserVer" value="firefox" />
		<classes>
			<class name="com.gl.smoke.pom.tests.DemoTests" />
		
		</classes>
	</test>
</suite> 